/* Form style */
body{
    color: #666666;
    font-family: Calibri,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    width:99%!important;
}
.form .select2-container--default .select2-selection--single, .form input, .form optgroup, .form select, .form textarea{
    border: 1px solid #cbcac9;
    padding: 0.25882rem 0.64706rem;
    border-radius:0;
    width:100%;
    line-height: 20px;
}
#treeList_filter input{
    border: 1px solid #cbcac9;
    padding: 0.25882rem 0.64706rem;
    border-radius:0;
    line-height: 20px;
}
.select2-container--default .select2-selection--single, input, optgroup, select{
    height: 34px;
}
.select2-container--default .select2-selection--single:hover, input:hover, optgroup:hover, select:hover, textarea:hover {
    border-color: #00AEEF;
}
.select2-container--default .select2-selection--single:focus, input:focus, optgroup:focus, select:focus, textarea:focus  {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.form button:focus, .form button {
    background-color: #018abd;
    width: 90px;
    text-align: center;
    border-color: #01638C;
    border-width: 0 0 3px;
    border-style: solid;
    color: #fff;
    border-radius: 0;
    padding: 4px 20px;
}
.form button:hover, .form button:active:hover {
    background-color: #01638C;
    border-color: #013f59;
    color: #fff;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left:0;
    line-height:22px;
}
.select2-dropdown{
    border: 1px solid #cbcac9;
}
.select2-container, input, optgroup, select, textarea{
    margin-bottom:19px;
}
.container{
    position: relative;
}
table.dataTable{
    width:100%!important;
}
.dataTables_wrapper{
    width:99%;
    overflow-x: scroll;
    margin-left:auto;
    margin-right:auto;
}
.dataTables_wrapper .dataTables_filter{
    float:left;
    text-align:left;
    padding-left:10px;
}
  /* navigation */
  .navbar{
      min-height:150px;
      margin-bottom:0;
  }
    .navbar-default{
        border-bottom: 3px solid #9ba4ab;
    background: #051c2c;
    }
.navbar-brand{
    height:140px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}
  /* .nav{ position: absolute; bottom:10px; right: 0; width:100%; background:#fff;}
  .nav a{
	width:30px;
	height:20px;
	background: #fff;
	display: inline-block;
  }
.nav-main li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
.nav-main li a{
    color: #fff;
}
.nav-main li a:hover{
    text-decoration: none;
} */
 @media(max-width: 500px){
.fa-4x {
    font-size: 2em;
}
 }
 @media (min-width: 768px){
.navbar-right{
    position: absolute;
    bottom:0;
    right: 0;
}
 }
 .leaflet-popup-content {
     margin-right: 40px;
     margin-left: 6px;
 }
 .leaflet-popup-content a:hover {
    text-decoration:none
 }
 .leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 0 47px 0;
    border: none;
    border-radius: 0 12px 12px 0;
    text-align: center;
    width: 40px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: white;
    background-color: #b6001F;
    text-decoration: none;
    font-weight: bold;
}