#resultsList {
	position: absolute;
	top: 25px;
	background-color: #fff;
	color: #000;
	height: 500px;
	overflow: scroll
}

.inspectButton, .commentsButton {
	float: right;
	background-color: #018abd;
	min-width: 90px;
	text-align: center;
	border-color: #01638C;
	border-width: 0 0 3px;
	border-style: solid;
	color: #fff;
	border-radius: 0;
	padding: 4px 20px;
	margin-left: 4px;
}

.inspectButton:hover, .commentsButton:hover {
	background-color: #01638C;
	border-color: #013f59;
	color: #fff;
}

.popupBg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 9998
}

.popupForm {
	position: absolute;
	display: block;
	border-radius: 5px;
	background-color: white;
	color: black;
	width: 80%;
	/* height: 75%; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 25px;
	z-index: 9999
}

.popupForm > .form {
	height: 100%;
	overflow-y: auto;
}

.popupForm > .form > button {
	float: right;
}

#botanical_name {
	width: 100%
}

#common_name {
	width: 100%
}

#comments {
	width: 100%
}

#comments_display {
	max-height: 100px;
	overflow-y: scroll;
}

.comment {
	width: 80%;
	background-color: lightgrey;
	border-radius: 4px;
	margin: 4px;
	padding: 6px;
}

.my_comment {
	float: right;
	width: 80%;
	background-color: lightblue;
	border-radius: 4px;
	margin: 4px;
	padding: 6px;
}

/* Selector radio for popup form */

.status-radio {
	display:block;
	color: #666;
}

.status-radio-button:first-child {
	border-radius: 15px 0 0 15px
}

.status-radio-button:last-child {
	border-radius: 0 15px 15px 0
}

.status-radio-button {
	display: inline-block;
	padding: 0.25882rem 0.64706rem;
}

.status-radio-button#unchecked.active {
	/* background-color: #3388DD; */
	color: #1166BB
}

.status-radio-button#unsuitable.active {
	/* background-color: #FF4433; */
	color: #DD2211
}

.status-radio-button#ready.active {
	/* background-color: #3388DD; */
	color: #CB832A
}

.status-radio-button#planted.active {
	/* background-color: #33DD88; */
	color: #11BB66
}

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
	width: 100%;
	/* height: 85%; */
	height: calc(100vh - 150px);
    display: inline-block;
    float: right;
    webkit-transition: width 1s; /* Safari */
	transition: width 1s;
  }
  
  #map.full {
	  width: 100%;
	  webkit-transition: width 1s; /* Safari */
	  transition: width 1s;
  }
   
   #header {
		height: 150px;
		/* padding-top: 2em; */
		padding-left: 2em;
		vertical-align: middle;
		border-bottom: 3px solid #9ba4ab;
		background: #051c2c;
		position: relative;
   }
   
   #header h1 {
		display: inline-block;
		vertical-align: top;
		color: #fff;
		position: absolute;
		top:20%
   }
   
   @media(max-width: 415px){
		#treeList_filter label {
			width:100%;
			display: block
		}
   }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#treeList_filter select {
	margin-left: 4px
}

#treeList_length {
	margin-right: 4px
}

#treeList_wrapper {
	padding: 4px
}

.auditFieldContainer {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	align-items: center;
}

.auditFieldContainer > .leftSideDiv > label {
	margin: 0px;
}
.auditFieldContainer > .rightSideDiv {
	max-width: 20px;
}

.form input[type=checkbox] {
	width: auto;
}

.imageContainer {
	width: 100%;
	height: 134px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.auditFormFileSubmit {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.auditFormFileSubmit + label {
	width: 128px;
	height: 128px;
	background-color: lightgrey;
	color: grey;
	padding-top: 2em;
	text-align: center;
	vertical-align: top;
	border-radius: 4px;
	border: 1px solid grey;
	margin-top: 4px;
	margin-right: 4px;
}

.treeAuditImage {
	width: 128px;
	height: 128px;
	vertical-align: top;
	border-radius: 4px;
	border: 1px solid grey;
	margin-right: 4px;
	margin-top: 4px;
}

.commentsFormDisplay {
	width: 100%;
	height: 500px;
	overflow-y: scroll;
}

.comment_loading_msg {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}